/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  --bg-colour: #fff1f7;
  --bg-image: url(../images/cover-image-light.png);
  --accent-colour: #ff8dcb;
  --colour-title: #ffc2e6;
  --colour-subtitle: #353430;
  --menu-colour: #353430;
  --content-subtitle: #353430;
  --menu-hover: rgba(50, 49, 45, 0.4);


  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
}

.page.theme_light .decorated-zone__text::after {
  display: none;
}

.page.theme_light .decorated-zone__text {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-colour: #fff1f7;
    --bg-image: url(../images/cover-image-light.png);
    --accent-colour: #ff8dcb;
    --colour-title: #ffc2e6;
    --colour-subtitle: #353430;
    --menu-colour: #353430;
    --content-subtitle: #353430;
    --menu-hover: rgba(50, 49, 45, 0.4) 

  }
 
  .decorated-zone__text{
    display: none;
  }
  .decorated-zone__text::after{
    display: none;
  }
}

