/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root{
  --accent-colour: #FF0070;
  --bg-image: url(../images/cover-image-dark.png);
  --bg-colour: #000028;
  --colour-title: #db00ff;
  --colour-subtitle: #000028;
  --menu-colour: #FF0070;
  --content-subtitle: #F1B2CE;
  --menu-hover: rgba(255, 0, 112, 0.4);
}